{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <img width="30px" src="{{ site.baseurl }}/assets/images/fontawesome/file.png">
    <span class="top">{{ publications.title }}</span>
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    {% if publication.link %}
      <li><a href="{{ publication.link }}">{{ publication.title }}</a></li>
    {% else %}
      <li>{{ publication.title }}</li>
    {% endif %}
    <div class="publication-description">{{ publication.description }}</div>
    <div class="publication-conference">{{ publication.publication }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
