{% assign skills = site.data.data.skills %}
{% if skills %}
<section class="skills-section section">

  <h2 class="section-title">
    <img width="30px" src="{{ site.baseurl }}/assets/images/fontawesome/rocket.png">
    <span class="top">{{ skills.title }}</span>
  </h2>

  <div class="skillset">

    {% for skill in skills.toolset %}
    <div class="item">

      <h3 class="level-title">{{ skill.name }}</h3>

      <div class="level-bar">
        <div class="level-bar-inner" data-level="{{ skill.level }}">
        </div>
      </div><!--//level-bar-->

    </div><!--//item-->
    {% endfor %}

  </div>

</section><!--//skills-section-->
{% endif %}
